<div class="registration-main">
    <div class="register-form">
        <div class="tab-header">
            <button class="tab" routerLink="/login">Sign In</button>
            <button class="tab active">Create Account</button>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="submitRegisterData()">
            
            <div class="input-group">
               
                <input type="text" formControlName="username" placeholder="Username">
            </div>

            <div class="input-group">
                
                <input type="email" formControlName="email" placeholder="Email Address">
            </div>

            <div class="input-group">
                
                <input type="password" formControlName="password" placeholder="Password">
            </div>

            <div class="input-group">
                
                <div class="file-upload-wrapper">
                    <input type="file" (change)="addImage($event)" id="avatar" class="file-input">
                    <label for="avatar" class="file-label">
                        Upload Profile Image
                    </label>
                </div>
            </div>

            <button type="submit" class="btn-main">Create Account</button>
        </form>

        

      
    </div>
</div>