<div class="journal-wrapper">
  
  <div class="workspace-panel">
    
    @if (showJournal() && journalToCheck(); as selectedJournal) {
      <div class="journal-card saved-entry inspection-mode">
        <div class="journal-header">
          <h3>Entry: {{ selectedJournal.date || "Past Reflection" }}</h3>
          <button class="btn-close-view" (click)="showJournal.set(false)">× Close View</button>
        </div>
        <div class="deleteButArea">
          <button  (click)="removeJournal(selectedJournal.date)">delete</button>
        </div>
        
        <div class="responses-list">
          @for (response of selectedJournal.responses; track response.id) {
            <div class="entry-row">
              <p class="journal-prompt">{{response.question_text}}</p>
              <p class="journal-answer">{{response.answer}}</p>
            </div>
          }
        </div>
      </div>

    } @else if (todayJournal.value(); as journal) {
      <div class="journal-card saved-entry" [class.full]="fullScreen()">
        <div class="full-screen">   
        <svg (click)="fullScreen.update(v => !v)" class="svg-full" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 9.99739C6.01447 8.29083 6.10921 7.35004 6.72963 6.72963C7.35004 6.10921 8.29083 6.01447 9.99739 6" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M6 14.0007C6.01447 15.7072 6.10921 16.648 6.72963 17.2684C7.35004 17.8888 8.29083 17.9836 9.99739 17.998" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M17.9976 9.99739C17.9831 8.29083 17.8883 7.35004 17.2679 6.72963C16.6475 6.10921 15.7067 6.01447 14.0002 6" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M17.9976 14.0007C17.9831 15.7072 17.8883 16.648 17.2679 17.2684C16.6475 17.8888 15.7067 17.9836 14.0002 17.998" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </div>  
        <div class="journal-header">
          <h3>Today's Reflection</h3>
        </div>
        
         <div class="deleteButArea">
          <button  (click)="removeJournal(journal.date)">delete</button>
         </div>
        
        <div class="responses-list">
          @for (response of journal.responses; track response.id) {
            <div class="entry-row">
              <p class="journal-prompt">{{response.question_text}}</p>
              <p class="journal-answer">{{response.answer}}</p>
            </div>
          }
        </div>
      </div>

    } @else if (template.value(); as template) {
      <div class="journal-card write-entry" [class.full]="fullScreen()">
       <div class="full-screen">   
        <svg (click)="fullScreen.update(v => !v)" class="svg-full" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 9.99739C6.01447 8.29083 6.10921 7.35004 6.72963 6.72963C7.35004 6.10921 8.29083 6.01447 9.99739 6" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M6 14.0007C6.01447 15.7072 6.10921 16.648 6.72963 17.2684C7.35004 17.8888 8.29083 17.9836 9.99739 17.998" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M17.9976 9.99739C17.9831 8.29083 17.8883 7.35004 17.2679 6.72963C16.6475 6.10921 15.7067 6.01447 14.0002 6" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M17.9976 14.0007C17.9831 15.7072 17.8883 16.648 17.2679 17.2684C16.6475 17.8888 15.7067 17.9836 14.0002 17.998" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </div>    
        <div class="journal-header">
          <h3>{{template.name || "Untitled"}}</h3>
        </div>
        
        <form class="responses-list" [formGroup]="journalForm" (ngSubmit)="createJournal()">
          <div formArrayName="responses" class="responses-list">
            @for (question of template.questions; track question.id) {
              <div [formGroupName]="$index" class="entry-row">
                <p class="journal-prompt">{{question.text}}</p>
                <textarea 
                  appResizeDirective 
                  formControlName="answer" 
                  class="journal-input" 
                  placeholder="Write your thoughts here..."></textarea>
              </div>
            }
          </div>

          <div class="form-actions">
            <button type="submit" [disabled]="!journalForm.valid" class="btn-primary">
              Save Entry
            </button>
          </div>
        </form>
      </div>
    }
  </div>

  <div class="stats-column">
    <div class="yearly-card">
      <div class="card-header">
        <h3>YEARLY RHYTHM</h3>
      </div>

      
        <select (change)="onMonthChange($event)">
          @for (monthName of Monthes; track monthName; let i = $index) {
            <option [value]="i+1" [selected]="(i+1) === monthValue()">{{monthName}}</option>
          }
        </select>

        <select (change)="onYearChange($event)">
          @for (y of years; track y) {
            <option [value]="y" [selected]="y === yearValue()">{{ y }}</option>
          }
        </select>
      

      <div class="yearly-grid">
        @for (dateString of daysInMonthGrid(); track dateString) {
          <div 
            class="grid-cell" 
            [class.completed]="statistics.value()?.includes(dateString)"
            [attr.data-date]="dateString"
            (click)="journalFromStats(dateString)">
            <span class="day-number">{{ dateString.split('-')[2] }}</span>
          </div>
        }
      </div>
    </div>
  </div>

</div>